DJANGO_ENV=production
DEBUG=false
SECRET_KEY=change-me-to-a-long-random-secret
ALLOWED_HOSTS=tu-dominio.com
CSRF_TRUSTED_ORIGINS=https://tu-dominio.com

# PostgreSQL en produccion. Si no defines POSTGRES_DB, Django usa SQLite local.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

# Seguridad HTTPS. Puedes dejar los defaults en produccion si tu hosting usa HTTPS.
SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=false
