{% extends "base.html" %}
{% load static %}
{% block title %}{{ cliente.nombre }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'frontend/clienteDetalle.css' %}">
{% endblock %}
{% block content %}
{{ cliente_detalle_payload|json_script:"cliente-detalle-data" }}
<div id="cliente-detalle-root">
  <div class="card">Cargando cliente...</div>
</div>
{% endblock %}
{% block scripts %}
<script type="module" src="{% static 'frontend/clienteDetalle.js' %}"></script>
{% endblock %}
